<!--{{title}}
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Like</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let p of productList">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.price}}</td>
        <td>{{p.like}}</td>
        <td>
            <button (click)="Buy(p.id)" [disabled]="p.quantity == 0">Buy</button>
            <button (click)="Like(p.id)">Like</button>
            <button (click)="delete(p.id)">Delete</button>

            <button [routerLink]="['/product/',p.id]">To Details</button>
            <button [routerLink]="['/updateProduct/',p.id]">Update</button>

        </td>
        <td *ngIf="p.like >= 10">Best Product</td>
    </tr>

</table>

<button (click)="verif()">verifier</button>
{{sinda}}-->

<div class="container">
    <div class="row">
        <app-product *ngFor="let p of productList"  [product]="p" (incLike)="Like($event)"></app-product>
        </div>
    
    </div>